﻿<!doctype html>
<html>
<head>
</head>
<body>
    @model sb0tUi.Models.LoginModel

@{
    Layout = null;
}



<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>sb0t Control Panel</title>
@Styles.Render("~/Content/css")
<style type="text/css">
    hr {
        -moz-border-bottom-colors: none;
        -moz-border-image: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: #EEEEEE -moz-use-text-color #FFFFFF;
        border-style: solid none;
        border-width: 2px 0;
        margin: 18px 0px;
    }

    body {
        margin: 0 auto;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 940px;
    }

    table {
        border: 1px solid black;
    }

    textarea {
        resize: none;
    }
</style>
@Scripts.Render("~/bundles/modernizr")


<div id="login-box" class="login-popup">
    <form method="post" class="signin" action="/Account/Login">
        <fieldset class="textbox">
            <label class="username">
                <span>Username or email</span>
                <input id="username" name="username" value="" type="text" autocomplete="on" placeholder="Username" class="form-control">
            </label>
            <label class="password">
                <span>Password</span>
                <input id="password" name="password" value="" type="password" placeholder="Password" class="form-control">
            </label>
            <input class="submit button form-control" type="submit" value="Log in">
        </fieldset>
    </form>

</div>
@Scripts.Render("~/bundles/jquery")
<script>
    $(function () {

        $(document).ajaxStart(function () {
            $('body').addClass("loading");
        });
        $(document).ajaxStop(function () {
            $('body').removeClass("loading");
        });

        //Getting the variable's value from a link
        var loginBox = $("#login-box");

        //Fade in the Popup
        $(loginBox).fadeIn(300);

        //Set the center alignment padding + border see css style
        var popMargTop = ($(loginBox).height() + 24) / 2;
        var popMargLeft = ($(loginBox).width() + 24) / 2;

        $(loginBox).css({
            'margin-top': -popMargTop,
            'margin-left': -popMargLeft
        });

        // Add the mask to body
        $('body').append('<div id="mask"></div>');
        $('#mask').fadeIn(300);
    });
</script>

</body>
</html>