﻿<div id="adminLog" data-bind="visible: navSectionCurrent() == navSections[2]">
    <script>
        $(function () {
            viewModel.adminLogDates = [];
            $.getJSON("/api/AdminLog", null, function (data) {
                for (var i in data) {
                    viewModel.adminLogDates.push(new Date(data[i]));
                }

                $("#adminLog #date-container-admin .input-group.date").datepicker({
                    autoclose: true,
                    beforeShowDay: function (date) {
                        for (var i in viewModel.adminLogDates) {
                            if (date.getFullYear() != viewModel.adminLogDates[i].getUTCFullYear())
                                continue;
                            if (date.getMonth() != viewModel.adminLogDates[i].getUTCMonth())
                                continue;
                            if (date.getDate() != viewModel.adminLogDates[i].getUTCDate())
                                continue;

                            return;
                        }

                        return false;
                    }
                }).on('changeDate', function (e) {
                    $.getJSON("/api/AdminLog?date=" + e.date.toJSON(), null, function (data) {
                        viewModel.adminLogFile(data);
                        doResize();
                    });
                });


                $("#adminLog #date-container-admin .input-group.date").datepicker('update', new Date());
                $.getJSON("/api/AdminLog?date=" + (new Date()).toJSON(), null, function (data) {
                    viewModel.adminLogFile(data);
                    doResize();
                });
            });

            function doResize() {
                $("#adminLogFile:parent").height(Math.floor($(window).height() * 0.5));
                $("#adminLogFile").animate({ scrollTop: $('#adminLogFile')[0].scrollHeight }, 1000);
            }

            doResize();

            $(window).on('resize', "#adminLogFile", doResize);
        });
    </script>
    <div class="panel panel-primary">
        <div class="panel-heading text-center">Admin Logs</div>
        <div class="panel-body">

            <div class="row">
                <div class="col-xs-4 col-md-offset-2 text-right">
                    <strong>Please choose a date</strong>
                </div>
                <div class="col-xs-4 ">
                    <div id="date-container-admin">
                        <div class="input-group date">
                            <input type="text" class="form-control" readonly />
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div id="adminLogFile" class="panel panel-primary" style="overflow-y: scroll;">
        <div class="panel-body">

            <div class="row">
                <div class="col-xs-12" data-bind="foreach: adminLogFile">
                    <span data-bind="text: $data"></span>
                    <br />
                </div>
            </div>

        </div>
    </div>
</div>