﻿@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>sb0t Control Panel</title>
@Styles.Render("~/Content/css")
<style type="text/css">
    hr {
        -moz-border-bottom-colors: none;
        -moz-border-image: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        -moz-use-text-color: #333;
        border-color: #333;
        border-style: solid none;
        border-width: 2px 0;
        margin: 18px 0;
    }

    body {
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 0;
        width: 940px;
    }

    table {
        border: 1px solid black;
    }

    textarea {
        -moz-resize: none;
        -ms-resize: none;
        -o-resize: none;
        resize: none;
    }

</style>
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryajax")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="@Scripts.Url("~/Scripts/app/SbotSettings.viewmodel.js")"></script>
    <script>

        $(function () {
            window.viewModel = new SbotUiViewModel();

            ko.applyBindings(viewModel);

            $(document).ajaxStart(function () {
                $('body').addClass("loading");
            });

            $(document).ajaxStop(function () {
                $('body').removeClass("loading");
            });

            $.getJSON('/Server/Status', null, function (data) {
                if (data == undefined) {
                    viewModel.isServerRunning(false);
                    return;
                }


                if (data.IsRunning == undefined || data.IsRunning == null) {
                    viewModel.isServerRunning(false);
                    return;
                }

                viewModel.isServerRunning(data.IsRunning);

            }).retry({ times: 3 });
        });
    </script>
</head>
<body class="loading">
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">sb0t Control Panel</a>
            </div>

            <div class="collapse navbar-collapse" id="top-nav">
                <ul class="nav navbar-nav" data-bind="foreach: navSections">
                    <li data-bind="css: { active: $data == $root.navSectionCurrent() }">
                        <a href="#" data-bind="text: $data, click: $root.changeNavSection"></a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="btn-group">
                            <button type="button" class="navbar-btn btn-sm dropdown-toggle" data-bind="css: { 'btn-success': isServerRunning(), 'btn-danger': isServerRunning() == false }" data-toggle="dropdown">
                                Server Status
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li data-bind="css: { disabled: isServerRunning() }"><a href="#" data-bind="click: function() { if(!isServerRunning()) $.post('/Server/Start', null, function (data) { if (data != null && data.IsRunning != null && data.IsRunning) isServerRunning(true); }); }">Start Server</a></li>
                                <li data-bind="css: { disabled: !isServerRunning() }"><a href="#" data-bind="click: function() { if(isServerRunning()) $.post('/Server/Stop', null, function () { isServerRunning(false); }); }">Stop Server</a></li>
                                <li class="divider"></li>
                                <li><a href="/Account/Login">Log off</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div> <!-- /.container-fluid -->
    </div> <!-- /.navbar -->


    <div class="well">
        <!-- ko if: navSectionCurrent() == navSections[0] -->
        <ul class="nav nav-pills" data-bind="foreach: navSubSections">
            <li data-bind="css: { active: $data == $root.navSubSectionCurrent() }">
                <a href="#" data-bind="text: $data, click: $root.changeNavSubSection"></a>
            </li>
        </ul>
        <!-- /ko -->
        <br />

        @Html.Partial("Main")

        @Html.Partial("ServerLog")
        
        @Html.Partial("AdminLog")
        
        @Html.Partial("ChatLog")

        @Html.Partial("Motd")
        
        @Html.Partial("StringsTemplate")

    </div>
    <script>
        $(function() {
           // $('body').removeClass("loading");
        });
    </script>
<div class="loading-modal"><!-- Place at bottom of page --></div>
</body>
</html>