﻿<div id="main" data-bind="visible: navSectionCurrent() == navSections[0]">
    <!-- ko if: navSubSectionCurrent() != navSubSections[7] -->
    <!-- ko if: settingsStrings() != 0  -->
    <div class="panel panel-primary">
        <div class="panel-body">
            <!-- ko foreach: settingsStrings -->
            <div class="row">
                <div class="col-sm-4 col-md-offset-2 text-right">
                    <strong data-bind="text: label"></strong>
                </div>

                <div class="col-sm-4">
                    <input title="Please stop the server in order to edit values" data-bind="value: value, placeholder: label, disable: $root.isServerRunning" class="form-control">
                </div>

                </div>
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: settingsBooleans().length != 0 -->
    <div class="panel panel-primary">
        <div class="panel-body">
            <!-- ko foreach: settingsBooleans -->
            <div class="row">
                <div class="col-sm-6 col-md-6 col-sm-offset-3 col-sm-push-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" title="Please stop the server in order to edit values" data-bind="checked: value, disable: $root.isServerRunning">
                        <!-- ko text: label -->
                        <!-- /ko -->
                    </label>
                </div>
            </div>

            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: settingsObjects().length != 0 && navSubSectionCurrent() != navSubSections[1] -->
    <div class="panel panel-primary">
        <div class="panel-body">
            <!-- ko foreach: settingsObjects -->
            <div class="row">
                <div class="col-sm-2 col-md-2 col-sm-offset-3 text-right"><strong data-bind="text: name"></strong></div>
                <div class="col-sm-4 col-md-4">
                    <select title="Please stop the server in order to edit values" data-bind="options: label,
                                optionsText: function(item) {
                                    return item.name;
                                },
                                value: value, css: { disabled: $root.isServerRunning }, disable: $root.isServerRunning"></select>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: settingsObjects().length != 0 && navSubSectionCurrent() == navSubSections[1] -->
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4 col-md-6 col-sm-offset-3">
                    <ul class="pagination">
                        <li data-bind="css: { disabled: hasPrevious() == false }">
                            <a href="#" data-bind="click: function() { if($root.hasPrevious()) $root.previous() }">&laquo;</a>
                        </li>
                        <!-- ko foreach: new Array(totalPages()) -->
                        <li data-bind="css: { active: $root.pageNumber() == $index() }">
                            <a href="#" data-bind="click: function() { $root.pageNumber($index()) }, text: $index() + 1"></a>
                        </li>
                        <!-- /ko -->
                        <li data-bind="css: { disabled: hasNext() == false }">
                            <a href="#" data-bind="click: function(data) { if($root.hasNext()) $root.next() }">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- ko foreach: paginated -->
            <div class="row">
                <div class="col-sm-2 col-md-2 col-sm-offset-3 text-right"><strong data-bind="text: name"></strong></div>
                <div class="col-sm-4 col-md-4">
                    <select title="Please stop the server in order to edit values" data-bind="options: label,
                                optionsText: function(item) {
                                    return item.name;
                                },
                                value: value, disable: $root.isServerRunning"></select>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: navSubSectionCurrent() == navSubSections[7] -->
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-2 col-md-2 text-right">
                    <strong>Default avatar</strong>
                </div>
                <div class="col-sm-4 col-md-4">
                    <form id="defaultUpload" action="/Settings/Upload" method="POST" enctype="multipart/form-data">
                        <input type="file" id="defaultFileSelect" name="fileselect[]" multiple="multiple" class="form-control" data-bind="disable: isServerRunning">
                    </form>
                    <br />
                    <div class="progress" style="border: 1px inset #000;">
                        <div id="defaultProgress" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <img id="defaultAvatar" style="border-width: 1px; border-color: #000; height:96px; width:96px;" />
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-2 col-md-2 text-right">
                    <strong>Server avatar</strong>
                </div>
                <div class="col-sm-4 col-md-4">
                    <form id="serverUpload" action="/Settings/Upload" method="POST" enctype="multipart/form-data">
                        <input type="file" id="serverFileSelect" name="fileselect[]" multiple="multiple" class="form-control" data-bind="disable: isServerRunning">
                    </form>
                    <br />
                    <div class="progress" style="border: 1px inset #000;">
                        <div id="serverProgress" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <img id="serverAvatar" style="border-width: 1px; border-color: #000; height:96px; width:96px;" />
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function parseFile(file, type) {
            if (file.type.indexOf("image") == 0) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#" + type + "Avatar").attr("src", e.target.result);
                }

                reader.readAsDataURL(file);

                return true;
            }
            return false;
        }

        function upload(file, type) {
            var xhr = new XMLHttpRequest();
            if (xhr.upload && file.size < 3 * 1024 * 1024) {
                $("#" + type + "Progress").removeClass("progress-bar-success");
                $("#" + type + "Progress").addClass("active");

                xhr.upload.addEventListener("progress", function (e) {
                    var pc = parseInt((e.loaded / e.total * 100));
                    $("#" + type + "Progress").attr("aria-valuenow", pc);
                    $("#" + type + "Progress").text(pc + "%");
                }, false);

                xhr.onreadystatechange = function (e) {
                    if (xhr.readyState == 4) {
                        var success = (xhr.status == 200);

                        if (success) {
                            $("#" + type + "Progress").removeClass("active");
                            $("#" + type + "Progress").addClass("progress-bar-success");
                        } else {

                        }
                    }
                };

                xhr.open("POST", $("#" + type + "Upload").attr("action"), true);
                xhr.setRequestHeader("X_FILENAME", file.name);
                xhr.setRequestHeader("X_TYPE", type);
                xhr.send(file);
            }
        }

        function init() {
            $("#defaultFileSelect").on("change", function (e) {
                var files = e.target.files || e.constructor.files;

                for (var i = 0, f; f = files[i]; i++) {
                    if (parseFile(f, "default"))
                        upload(f, "default");
                }
            });

            $("#serverFileSelect").on("change", function (e) {
                var files = e.target.files || e.constructor.files;

                for (var i = 0, f; f = files[i]; i++) {
                    if (parseFile(f, "server"))
                        upload(f, "server");
                }
            });

            $.get("/api/Avatar?type=default", function (data) {
                if (data != null && data != "null") {
                    data = data.substring(1, data.length - 1);
                    $("#defaultAvatar").attr("src", "data:image/jpeg;base64," + data);
                }
            }, "text");

            $.get("/api/Avatar?type=server", function (data) {
                if (data != null && data != "null") {
                    data = data.substring(1, data.length - 1);
                    $("#serverAvatar").attr("src", "data:image/jpeg;base64," + data);
                }
            }, "text");

        }
    </script>
    <!-- /ko -->
</div>