﻿<div id="motd" data-bind="visible: navSectionCurrent() == navSections[4]">
    
    <script>
        $(function () {
            $("#btnMotdLoad").on("click", function() {
                $.getJSON("/api/Motd", null, function (data) {
                    viewModel.motdLines(data);
                    doResize("#motdFile textarea");
                });
            });
            
            $("#btnMotdSave").on("click", function () {
                $.post("/api/Motd", {'': $("#motdFile textarea").val()});
            });

            function doResize(selector) {
                $(selector).height(Math.floor($(window).height() * 0.5));
            }

            $(window).on('resize', "#motdFile", doResize("#motdFile textarea"));

            doResize("#motdFile textarea");
        });
    </script>

    <div class="panel panel-primary">
        <div class="panel-heading text-center">Motd.txt</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-2 col-md-offset-5">
                    <div class="btn-group-sm">
                        <button id="btnMotdLoad" type="button" class="btn btn-default">Load</button>
                        <button id="btnMotdSave" type="button" class="btn btn-default">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div id="motdFile" class="panel panel-primary">
        <div class="panel-body" style="padding:2px;">
            
            <textarea class="my-textarea" data-bind="value: motdLines"></textarea>

        </div>
    </div>

</div>
