﻿<div id="serverLog" data-bind="visible: navSectionCurrent() == navSections[1]">
    <script>
        $(function () {
            viewModel.serverLogDates = [];

        $.getJSON("/api/ServerLog", null, function (data) {
            for (var i in data) {
                viewModel.serverLogDates.push(new Date(data[i]));
            }

            $("#serverLog #date-container .input-group.date").datepicker({
                autoclose: true,
                beforeShowDay: function (date) {
                    for (var i in viewModel.serverLogDates) {
                        if (date.getFullYear() != viewModel.serverLogDates[i].getUTCFullYear())
                            continue;
                        if (date.getMonth() != viewModel.serverLogDates[i].getUTCMonth())
                            continue;
                        if (date.getDate() != viewModel.serverLogDates[i].getUTCDate())
                            continue;

                        return;
                    }

                    return false;
                }
            }).on('changeDate', function (e) {
                $.getJSON("/api/ServerLog?date=" + e.date.toJSON(), null, function (data) {
                    viewModel.serverLogFile(data);
                    doResize();
                });
            });

            
            $("#serverLog #date-container .input-group.date").datepicker('update', new Date());
            $.getJSON("/api/ServerLog?date=" + (new Date()).toJSON(), null, function (data) {
                viewModel.serverLogFile(data);
                doResize();
            });
        });
            

        function doResize() {
            $("#serverLogFile:parent").height(Math.floor($(window).height() * 0.5));
            $("#serverLogFile").animate({ scrollTop: $('#serverLogFile')[0].scrollHeight }, 1000);
        }

        doResize();

        $(window).on('resize', "#serverLogFile", doResize);
    });
    </script>
    <div class="panel panel-primary">
        <div class="panel-heading text-center">Server Logs</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-4 col-md-offset-2 text-right">
                    <strong>Please choose a date</strong>
                </div>
                <div class="col-xs-4 ">
                    <div id="date-container">
                        <div class="input-group date">
                            <input type="text" class="form-control" readonly />
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div id="serverLogFile" class="panel panel-primary" style="overflow-y: scroll;">
        <div class="panel-body">

            <div class="row">
                <div class="col-xs-12" data-bind="foreach: serverLogFile">
                    <span data-bind="text: $data"></span>
                    <br />
                </div>
            </div>

        </div>
    </div>


</div>