﻿<div id="template" data-bind="visible: navSectionCurrent() == navSections[5]">

    <script>
        $(function () {
            $("#btnTemplateLoad").on("click", function() {
                $.getJSON("/api/StringTemplate", null, function (data) {
                    viewModel.templateLines(data);
                    doResize("#templateFile textarea");
                });
            });

            $("#btnTemplateSave").on("click", function () {
                $.post("/api/StringTemplate", { '': $("#templateFile textarea").val() });
            });

            function doResize(selector) {
                $(selector).height(Math.floor($(window).height() * 0.5));
            }

            $(window).on('resize', "#templateFile", doResize("#templateFile textarea"));

            doResize("#templateFile textarea");
        });
    </script>

    <div class="panel panel-primary">
        <div class="panel-heading text-center">Strings.txt</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4 col-md-offset-4">
                    <div class="btn-group-sm">
                        <button id="btnTemplateLoad" type="button" class="btn btn-default">Load</button>
                        <button id="btnTemplateSave" type="button" class="btn btn-default">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="templateFile" class="panel panel-primary">
        <div class="panel-body" style="padding: 2px;">

            <textarea class="my-textarea" data-bind="value: templateLines"></textarea>

        </div>
    </div>

</div>
